{% extends 'menu/base.html' %}
{% block content %}
<a href="{% url 'tambah_pemesanan' %}" class="btn btn-sm btn-success" style="text-transform: capitalize;">Tambah Pemesanan</a>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Daftar Pemesanan</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No.</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nomor Meja</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pelanggan</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tanggal</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for p in pemesanan_list %}
                <tr>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{ forloop.counter }}</p>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{ p.nomor_meja }}</p>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ p.nama_pelanggan|default:"Anonim" }}</p>
                    <p class="text-xs text-secondary mb-0">{{ p.keterangan_pesanan|default:"-" }}</p>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{ p.tanggal_pesan|date:"d M Y H:i" }}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if p.sudah_dibayar %}
                      <span class="badge badge-sm bg-gradient-success">Sudah Dibayar</span>
                    {% else %}
                      <span class="badge badge-sm bg-gradient-warning">Belum Dibayar</span>
                    {% endif %}
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'detail_pemesanan' p.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" title="Detail Pesanan">
                      Detail
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}