{% extends 'menu/base.html' %}
{% block content %}
{% load static %}
{% load rupiah %}
{% load custom_tags %}
{% load humanize %}

<h3>Dashboard Pemesanan</h3>


<div class="container-fluid py-4">
  <div class="row">
    <!-- Pesanan Diproses -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 position-absolute">
            <i class="fa fa-spinner opacity-10" aria-hidden="true"></i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Pesanan Diproses</p>
            <h4 class="mb-0">{{ pesanan_proses }}</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0">Sedang dalam proses</p>
        </div>
      </div>
    </div>

    <!-- Pesanan Selesai -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
            <i class="fa fa-check-square opacity-10" aria-hidden="true"></i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Pesanan Selesai</p>
            <h4 class="mb-0">{{ pesanan_selesai }}</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0">Selesai diproses</p>
        </div>
      </div>
    </div>

    <!-- Total Pesanan -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-secondary text-center border-radius-xl mt-n4 position-absolute">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Total Pesanan</p>
            <h4 class="mb-0">{{ total_pesanan }}</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0">Akumulasi Pesanan</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card my-4">
  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
      <h6 class="text-white text-capitalize ps-3">Daftar Pesanan Terbaru</h6>
    </div>
  </div>
  <div class="card-body px-0 pb-2">
    <div class="table-responsive p-3">
      <table class="table align-items-center table-striped mb-0">
        <thead>
          <tr class="text-center">
            <th>No.</th>
            <th>Waktu</th>
            <th>Pelanggan/Meja</th>
            <th>Status</th>
            <th>Detail Pesanan</th>
          </tr>
        </thead>
        <tbody>
          {% for pesanan in daftar_pesanan_terbaru %}
          <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">{{ pesanan.tanggal_pesan|date:"d M Y H:i" }}</td>
            <td class="text-center"><b>{{ pesanan.nama_pelanggan }}/ Meja {{ pesanan.nomor_meja }}</b></td>
            <td>
              <form method="post" action="{% url 'ubah_status_pesanan' pesanan.id %}" class="d-flex flex-column align-items-center gap-2">
                {% csrf_token %}
                {% if pesanan.status == 'selesai' %}
                  <span class="badge bg-success">
                    <i class="fa fa-check-square" aria-hidden="true" style="font-size: 20px;"></i>
                  </span>
                {% else %}
                  <span class="badge bg-warning">
                    <i class="fa fa-spinner" aria-hidden="true" style="font-size: 20px;"></i>
                  </span>
                {% endif %}
                <select name="status" onchange="this.form.submit()" class="form-select form-select-sm" style="width: auto;">
                  <option value="proses" {% if pesanan.status == 'proses' %}selected{% endif %}>Proses</option>
                  <option value="selesai" {% if pesanan.status == 'selesai' %}selected{% endif %}>Selesai</option>
                </select>
              </form>
            </td>
            <td colspan="5">
              <div class="d-flex flex-row gap-3">
                {% for column in pesanan.item_pesanan.all|slice_list:2 %}
                  <div class="d-flex flex-column gap-2">
                    {% for item in column %}
                      <div class="card shadow-sm border rounded p-2 bg-light">
                        <div class="d-flex justify-content-between">
                          <div>
                            <strong>{{ item.menu.nama }}</strong><br>
                            <small>@{{ item.jumlah }} x {{ item.menu.harga|rupiah }}</small>
                          </div>
                          <div class="text-end fw-bold text-success">
                            {{ item.subtotal|rupiah }}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </td>

            {% empty %}
            <td colspan="6" class="text-center">Belum ada pesanan.</td></tr>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Navigasi Paginasi -->
<div class="d-flex justify-content-center mt-3">
  <nav>
    <ul class="pagination">
      {% if daftar_pesanan_terbaru.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ daftar_pesanan_terbaru.previous_page_number }}{% if bulan %}&bulan={{ bulan }}{% endif %}{% if tahun %}&tahun={{ tahun }}{% endif %}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}

      {% for num in daftar_pesanan_terbaru.paginator.page_range %}
        {% if daftar_pesanan_terbaru.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > daftar_pesanan_terbaru.number|add:'-3' and num < daftar_pesanan_terbaru.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}{% if bulan %}&bulan={{ bulan }}{% endif %}{% if tahun %}&tahun={{ tahun }}{% endif %}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if daftar_pesanan_terbaru.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ daftar_pesanan_terbaru.next_page_number }}{% if bulan %}&bulan={{ bulan }}{% endif %}{% if tahun %}&tahun={{ tahun }}{% endif %}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>
  </nav>
</div>


{% endblock %}
